In [ ]:
!pip install markovify

In [2]:
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import markovify #Markov Chain Generator

#READING NEWS DATA

In [11]:
news_data = pd.read_json('/content/19-04-2021-12-16-Env-Science-Business.json')

news_data.head(5)

                                            Headline  ...                                            Content
0  Govt bans fishing in the Bay of Bengal for 65 ...  ...  The government has imposed a 65-day ban on fis...
1  Mosquito menace: Mymensingh City Corporation r...  ...  To protect city dwellers from mosquito menace,...
2  USAID to launch $17 million multi-year project...  ...  USAID will soon launch a multi-year project of...
3  Authorities destroy 1500m fishing net, mechani...  ...  Local administration today destroyed at least ...
4  12 sentenced to jail, one fined for illegal sa...  ...  A mobile court sentenced 12 people to three da...

[5 rows x 6 columns]

In [12]:
news_data = news_data.iloc[:,:2]
news_data.head(5)

                                            Headline                                        Description
0  Govt bans fishing in the Bay of Bengal for 65 ...  The government has imposed a 65-day ban on fis...
1  Mosquito menace: Mymensingh City Corporation r...  To protect city dwellers from mosquito menace,...
2  USAID to launch $17 million multi-year project...  USAID will soon launch a multi-year project of...
3  Authorities destroy 1500m fishing net, mechani...  Local administration today destroyed at least ...
4  12 sentenced to jail, one fined for illegal sa...  A mobile court sentenced 12 people to three da...

In [14]:
import random
news_data.Headline[random.sample(range(100), 10)]

34    HC issues 3 more directives to keep Dhaka's ai...
48        DoE demolishes five brick kilns in Chattogram
40    50 people reach Kurigram town by boats; besieg...
4     12 sentenced to jail, one fined for illegal sa...
23    Bangladesh seeks US's technical support in pre...
66    54 exotic birds smuggled from Bangladesh, seiz...
55    DoE Chattogram fines 13 businesses Tk 13.89 la...
60    'Protect Sangu-Matamuhuri sanctuary, reserve f...
87    Hydroponics grass could be the answer to Kurig...
52              5 Illegal brick kilns fined in Kurigram
Name: Headline, dtype: object

##Building the text model with Markov Chain

In [15]:
text_model = markovify.NewlineText(news_data.Headline, state_size = 2)

##Time for some fun with Autogenerated Headlines

In [21]:
# Print ten randomly-generated sentences using the built model
for i in range(10):
    print("Headline : " ,text_model.make_sentence())

Headline :  8 tanneries in Savar fined Tk 20 lakh by DoE
Headline :  Shipyard, 22 brick kilns in Ctg
Headline :  DoE fines man Tk 10 lakh for damaging hills in Bandarban
Headline :  SC clears way to shut for polluting air
Headline :  Flood worsens in Gaibandha, Bogura
Headline :  Star report prompts conservation action along the beaches of Cox's Bazar in the Bay of Bengal for 65 days
Headline :  Asian Paper Mill ordered to shut down illegal brick kiln in Savar fined Tk 85.5 lakh for polluting Beerja canal in Ctg
Headline :  Injured bearcat finds its way to shut for polluting environment
Headline :  Bangladesh among Asian countries with highest antibiotic river pollution: Study
Headline :  Asian Paper Mill ordered to shut down illegal brick kilns in 5 districts: DoE

In [19]:
news_data.Headline[news_data.Headline.str.contains("20 businesses including shipyard, hospital fined Tk 21 lakh as compensation for environmental damage")]

Series([], Name: Headline, dtype: object)